// @import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

$yellow : #fdb833;
$blue: #70d6ff;
$green:#80ed99;
$pink: #ff70a6;

@keyframes bg-animation{
    0%{
        background-image: url('background-image2.jpg');
    }
    50%{
        background-image: url('background-image3.jpg');
    }
    100%{
        background-image:url('background-image.jpg')
    }
}

@keyframes kenburns-right {
    0%{
      transform: scale(1) translate(0, 0);
      transform-origin: 84% 50%;
    }
    100% {
      transform: scale(1.25) translateX(20px);
      transform-origin: right;
    }
  }


 *{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
::selection{
    background-color: $yellow;
    color:black;
  }
header{
    // border:1px solid black;
    font-family: 'Roboto', sans-serif;
    position:fixed;
    top:0;
    color:white;
    border-bottom:1px solid black;
    // border:1px solid black;
    display:flex;
    // display:none;
    justify-content: space-between;
    z-index: 4;
    align-items: center;
    padding:10px 20px;
    width:100%;
    transition: all 0.1s ease-in-out;
    
    &::before{
        content:"";
        position:absolute;
        top:-100%;
        left:0;
        width:100%;
        height:100%;
        background-color: white;
        transition: 0.1s ease-in-out;
    }
    &.not-top, &.not-top *{
        color:black;
    }
    
    &.not-top::before{
        top:0;
    }
    .brand{
        // border:1px solid black;
        // border:1px solid white;
        font-family: 'Rye', sans-serif !important;
        font-size: 1.5rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding:0;
        margin:0;
        color:white;
        z-index: 2;
        // border:1px solid black;
        span{
            font-size: 1.4em;
        }
    }
    .hamburger-menu{
        display:none;
    }
    #menu{
        display:none;
    }
    .navigations{
        font-family: 'DM Sans','Roboto', sans-serif;
        font-weight: 700;
        display: flex;
        text-transform: uppercase;
        letter-spacing: 1px;
        a{
            text-decoration: none;
            cursor:pointer;
        }
        .navigation{
            // border:1px solid black;
            color:inherit;
            margin:0 13px;
            transition:all 0.2s ease-in;
            position:relative;
            overflow:hidden;
            width:fit-content;
            &:hover{
                color:$yellow;
            }
            &::after{
                content:"";
                position:absolute;
                width:100%;
                height:2px;
                background-color: $yellow;
                bottom:0;
                left:-100%;
                transition: 0.2s ease-in;
            }
            &:hover::after{
                left:0;
            }
        }
        
    }
}


main{
    color:white;
    overflow:hidden;
    // border:1px solid black;
    display: flex;
    // display:none;
    font-family: 'Roboto',sans-serif;
    flex-direction: column;
    width:100%;
    height:100vh;
    position: relative;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: black !important;
    background:url("./background-image.jpg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    // transition: 5s ease-in-out;
    animation: bg-animation alternate-reverse 30s forwards infinite running ease-in-out;
    background-attachment: fixed;
    .brand{
        // transition:none !important;
        // border:1px solid black;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // border:1px solid black;
        transform: translateY(20px);
        width:100%;
        h6{
            
            font-weight: normal;
            font-size: 2em;
            margin-top:15px;
            font-weight: 900;
            letter-spacing: 1px;
            font-family: 'Cormorant', cursive;
            span{
                color:$yellow;
            }
        }
        img{
            width:35vh;
        }
        p{
            padding:10px;
            max-width:40em;
            margin-bottom:15px;
            color:whitesmoke;
            font-weight: 600;
        }
        .contact-link{
            font-size: 1.3em;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 600;
            padding:10px 15px;
            border:2px solid $yellow;
            color:white;
            cursor:pointer;
            transition:all 0.1s ease-in-out;
            height:3rem;
            width:15rem;
            letter-spacing: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow:hidden;
        }
        .contact-link::after{
            content:"";
            position:absolute;
            width:100%;
            height:100%;
            background-color: $yellow;
            top:0;
            transition: all 0.2s ease-in-out;
            left:-100%;
            z-index: -1;
        }
        .contact-link:hover::after{
            left:0;
        }
        .contact-link:hover{
            color:black;
        }
    }
    .address{
        margin-bottom:10px;
        // border:1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        span{
            color:$yellow;
            margin-right:10px;
        }
        
    }
}

.how-it-works{
    width:100%;
    overflow:hidden;
    // display:none;
    .point{
        width:100%;
        height:40vw;
        border-bottom:1px solid gray;
        display: flex;
        justify-content: left;
        align-items: center;
        padding:3em 1em;
        background-size: cover;
        background-position: right;
        background-attachment: fixed;        
        
        p{
            background-color: white;
            position: relative;
            font-family: 'Cormorant', sans-serif;
            width:40%;
            max-width:50em;
            padding:10px;
            // border:1px solid black;
            font-weight: 700;
            color:#000;
            font-size: 1.2em;
            margin:0;
            text-align: center;
            &::before, &::after{
                content:"";
                position:absolute;
                width:2rem;
                height:2rem;
            }
            &::before{
                top:0;
                left:0;
                border-top:3px solid $pink;
                border-left:3px solid $pink;
            }
            &::after{
                bottom:0;
                right:0;
                border-bottom:3px solid $blue;
                border-right:3px solid $blue;
            }
        }
    }
    .odd{
        justify-content: right;
        background: url("./yellow.jpg");
        background-position: left;
    }
    .odd{
        background-size: contain;
        background-repeat: no-repeat;
        background-color: white;
    }
    .zero{
        background:url("./red.jpg");
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        
    }
    .two{
        background: url("./red2.jpg");
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
    }
    .zero, .two{
        background-position: right;
    }
}

.contact-form{
    width:100%;
    // border:1px solid black;
    display: flex;
    // display: none;
    flex-direction: column;
    padding-top:30px;
    padding-bottom:80px;
    overflow:hidden;
    border-bottom:1px solid gray;
    h6{
        text-align: center;
        font-size: 3em;
        font-family: "Cormorant", sans-serif;
        font-weight: 500;
    }
    p{
        font-family:sans-serif;
        font-size: 1em;
        text-align: center;
        font-weight: 300;
    }
    form{
        // border: 5px solid red;
        background-color: #f8f2f2;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:80%;
        max-width:700px;
        margin:auto;
        padding:30px 10px;
        padding-top:10px;
        margin-top:10px;
        border:1px solid gray;
        position: relative;
        &>*{
            margin-top:30px;
        }
        #error-message{
            color:#d00000;
            text-align: justify;
            font-weight: 800;
            font-family: 'Roboto', sans-serif;
            display: none;
        }
        .form-background{
            position:absolute;
            width:100%;
            height:100%;
            z-index: -5;
            top:10px;
            left:30px;
            border:1px solid gray;
        }
        button{

            .lds-ring {
                transform: scale(0.6);
                display: inline-block;
                position: relative;
                width: 80px;
                height: 80px;
              }
              .lds-ring div {
                box-sizing: border-box;
                display: block;
                position: absolute;
                width: 64px;
                height: 64px;
                margin: 8px;
                border: 8px solid #fff;
                border-radius: 50%;
                animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
                border-color: #fff transparent transparent transparent;
              }
              .lds-ring div:nth-child(1) {
                animation-delay: -0.45s;
              }
              .lds-ring div:nth-child(2) {
                animation-delay: -0.3s;
              }
              .lds-ring div:nth-child(3) {
                animation-delay: -0.15s;
              }
              @keyframes lds-ring {
                0% {
                  transform: rotate(0deg);
                }
                100% {
                  transform: rotate(360deg);
                }
            }
            #button-error{
                font-weight: 1000;
                font-size: 3rem;
                color:#d00000;
                margin:0;
                padding:0;
                transform:translateY(-3px);
            }
            #button-loading, #button-error{
                display: none;
            }
            padding:10px 50px;
            background-color: white;
            width:200px;
            border:1px solid $yellow;
            height:50px;
            overflow:hidden;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 400;
            cursor: pointer;
            transition: 0.2s all ease-in-out;
            border:1px solid gray;
            background-color: $yellow;
            color:white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        button:hover{
            background-color:$yellow;
            letter-spacing: 5px;
        }
        textarea::placeholder{
            color:gray;
            font-family: "Cormorant", sans-serif;
        }
        textarea{
            padding:5px;
            height:100px;
            transition:0.2s ease-in-out;
        }
        textarea:focus{
            outline-color:$yellow;
        }
        textarea:focus::placeholder{
            color:$yellow;
            transition: all 0.2s ease-in-out;
        }
        .input-div{
            position: relative;
            label{
                position:absolute;
                top:10px;
                left:5px;
                color:gray;
                transition:all 0.2s ease-in-out;
                font-family: "Cormorant", sans-serif;
            }
            // border:1px solid black;
            input{
                padding:10px 5px;
                border:none;
                width:100%;
                border:1px solid #666;
                transition:all 0.2s ease-in-out;
                &:focus{
                    outline-color:$yellow;
                    
                }
                &::placeholder{
                    color:transparent;
                }
                &:focus + label {
                    transform:translate(-13px, -35px) scale(0.8);
                    color:$yellow;    
                }
                &:not(:placeholder-shown) + label{
                    transform:translate(-13px, -35px) scale(0.8);
                    color:gray;
                }
            }
        }
        .input-div, textarea{
            width:100%;
            max-width:600px;
        }
    }
}
.cars-div{
    border-bottom:1px solid gray;
    h2{
        text-align: center;
        margin-top:20px;
        font-size:3em;
        font-weight: 500;
        font-family: 'Cormorant', sans-serif;
    }
    &>p{
        text-align: center;
        margin-bottom:20px;
    }
}
.our-cars{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom:20px;
    .car{
        border:1px solid lightgray;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 400px;
        margin:15px;
        overflow: hidden;
        background-color: white;
        .img-div{
            overflow: hidden;
            padding:0;
        }
        img{
            width:400px;
            margin-bottom: 10px;
            transition: 1s ease-in-out;
            transform-origin: 84% 50%;
        }
        img:hover{
            transform: scale(1.25) translateX(20px);
            transform-origin: right;
        }
        h6{
            font-size: 1.3em;
            padding:0 10px;
            font-weight: 800;
            font-family: 'Cormorant', sans-serif;
            border-bottom:1px solid gray;
        }
        p{
            padding:0 40px;
            text-align: justify;
        }
    }
}

footer{
    background-color: black;
    color:gray;
    padding:40px;
    
    a{
        color:$yellow;
        text-decoration: none;
    }
    a:hover{
        color:$yellow;
        text-decoration: underline;
    }
    .main{
        display: flex;
        span{
            color:$yellow;
            font-size: 1em;
        }
        h5{
            color:$yellow;
            font-size: 0.9em;
            font-weight: 600;
            text-transform: uppercase;
        }
        // flex-wrap: wrap;
        
        &>div{
            // min-width:50px;
            // border:1px solid black;
            margin-top:20px;
            width:33%;
            min-width:150px;
            margin:0 10px;
        }
        .contact-info{
            display: flex;
            align-items: flex-start;
            margin-bottom:10px;
            padding:0;
            span{
                margin-right:10px;
                margin-top:5px;
            }
        }
        .opening-hours{
            p{
                margin:5px 0;
            }
        }
    }
    .copyright-div{
        margin-left:10px;
        padding:0;
        margin-top:20px;
        display: flex;
        align-items: center;
        
        p{
            margin:0;
            display: flex;
            align-items: center;
        }
        .line{
            width:40px;
            height:2px;
            background-color: whitesmoke;
            margin-right:20px;
        }
        span{
            font-size: 1em;
            margin-right:5px;
            padding:0;
        }
    }
}
@media (max-width:500px){
    footer{
        .main{
            flex-direction: column;
            align-items: left;

            &>div{
                width:auto;
                margin-bottom:20px;
            }
        }
    }
}

@media (max-width:950px) {
    .not-top .line{
        background-color: black !important;
    }
    header{
        
        // border:1px solid white;
        flex-wrap: wrap;
        background-color: transparent;
        .hamburger-menu{
            // border:1px solid white;
            display:block;
            z-index: 1;
            // border:3px solid black;
            display: flex;
            flex-direction: column;
            cursor:pointer;
            
            .line{
                transition:all 0.2s ease-in;
                width:30px;
                height:3px;
                background-color: white;
                margin:3px 0;
                border-radius: 3px;
            }
        }
        .navigations{
            height:0;
            width:100%;
            overflow:hidden;
            transition-duration: 0.3s;
        }
        #menu:checked + .hamburger-menu{
            .line{
                transform:scale(0);
            }
            .line:first-child{
                transform: rotate(-45deg) translateY(12px);
            }
            .line:last-child{
                transform: rotate(45deg) translateY(-12px);
            }
        }
        #menu:checked ~ .navigations{
            height:9em;
        }
        .navigations{
            // border:1px solid black;
            width:100%;
            margin-top:10px;
            flex-direction: column;
            .navigation{
                padding:5px;
            }
        }
        
    }
}

@media (max-width:540px){
    .how-it-works{
        .point{
            p{
                font-size: 0.8em;
                width:60%;
            }
        }
    }
}

/*********************************************/
