@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
@-webkit-keyframes bg-animation {
  0% {
    background-image: url("background-image2.jpg");
  }
  50% {
    background-image: url("background-image3.jpg");
  }
  100% {
    background-image: url("background-image.jpg");
  }
}
@keyframes bg-animation {
  0% {
    background-image: url("background-image2.jpg");
  }
  50% {
    background-image: url("background-image3.jpg");
  }
  100% {
    background-image: url("background-image.jpg");
  }
}

@-webkit-keyframes kenburns-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 50%;
            transform-origin: 84% 50%;
  }
  100% {
    -webkit-transform: scale(1.25) translateX(20px);
            transform: scale(1.25) translateX(20px);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

@keyframes kenburns-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 50%;
            transform-origin: 84% 50%;
  }
  100% {
    -webkit-transform: scale(1.25) translateX(20px);
            transform: scale(1.25) translateX(20px);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background-color: #fdb833;
  color: black;
}

::selection {
  background-color: #fdb833;
  color: black;
}

header {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  top: 0;
  color: white;
  border-bottom: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  width: 100%;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

header::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

header.not-top, header.not-top * {
  color: black;
}

header.not-top::before {
  top: 0;
}

header .brand {
  font-family: 'Rye', sans-serif !important;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: white;
  z-index: 2;
}

header .brand span {
  font-size: 1.4em;
}

header .hamburger-menu {
  display: none;
}

header #menu {
  display: none;
}

header .navigations {
  font-family: 'DM Sans','Roboto', sans-serif;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 1px;
}

header .navigations a {
  text-decoration: none;
  cursor: pointer;
}

header .navigations .navigation {
  color: inherit;
  margin: 0 13px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header .navigations .navigation:hover {
  color: #fdb833;
}

header .navigations .navigation::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fdb833;
  bottom: 0;
  left: -100%;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

header .navigations .navigation:hover::after {
  left: 0;
}

main {
  color: white;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto',sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: black !important;
  background: url("./background-image.jpg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  animation: bg-animation alternate-reverse 30s forwards infinite running ease-in-out;
  background-attachment: fixed;
}

main .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  width: 100%;
}

main .brand h6 {
  font-weight: normal;
  font-size: 2em;
  margin-top: 15px;
  font-weight: 900;
  letter-spacing: 1px;
  font-family: 'Cormorant', cursive;
}

main .brand h6 span {
  color: #fdb833;
}

main .brand img {
  width: 35vh;
}

main .brand p {
  padding: 10px;
  max-width: 40em;
  margin-bottom: 15px;
  color: whitesmoke;
  font-weight: 600;
}

main .brand .contact-link {
  font-size: 1.3em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 15px;
  border: 2px solid #fdb833;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  height: 3rem;
  width: 15rem;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

main .brand .contact-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fdb833;
  top: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  left: -100%;
  z-index: -1;
}

main .brand .contact-link:hover::after {
  left: 0;
}

main .brand .contact-link:hover {
  color: black;
}

main .address {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

main .address span {
  color: #fdb833;
  margin-right: 10px;
}

.how-it-works {
  width: 100%;
  overflow: hidden;
}

.how-it-works .point {
  width: 100%;
  height: 40vw;
  border-bottom: 1px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em 1em;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
}

.how-it-works .point p {
  background-color: white;
  position: relative;
  font-family: 'Cormorant', sans-serif;
  width: 40%;
  max-width: 50em;
  padding: 10px;
  font-weight: 700;
  color: #000;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
}

.how-it-works .point p::before, .how-it-works .point p::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
}

.how-it-works .point p::before {
  top: 0;
  left: 0;
  border-top: 3px solid #ff70a6;
  border-left: 3px solid #ff70a6;
}

.how-it-works .point p::after {
  bottom: 0;
  right: 0;
  border-bottom: 3px solid #70d6ff;
  border-right: 3px solid #70d6ff;
}

.how-it-works .odd {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background: url("./yellow.jpg");
  background-position: left;
}

.how-it-works .odd {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}

.how-it-works .zero {
  background: url("./red.jpg");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.how-it-works .two {
  background: url("./red2.jpg");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.how-it-works .zero, .how-it-works .two {
  background-position: right;
}

.contact-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
  padding-bottom: 80px;
  overflow: hidden;
  border-bottom: 1px solid gray;
}

.contact-form h6 {
  text-align: center;
  font-size: 3em;
  font-family: "Cormorant", sans-serif;
  font-weight: 500;
}

.contact-form p {
  font-family: sans-serif;
  font-size: 1em;
  text-align: center;
  font-weight: 300;
}

.contact-form form {
  background-color: #f8f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  max-width: 700px;
  margin: auto;
  padding: 30px 10px;
  padding-top: 10px;
  margin-top: 10px;
  border: 1px solid gray;
  position: relative;
}

.contact-form form > * {
  margin-top: 30px;
}

.contact-form form #error-message {
  color: #d00000;
  text-align: justify;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
  display: none;
}

.contact-form form .form-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  top: 10px;
  left: 30px;
  border: 1px solid gray;
}

.contact-form form button {
  padding: 10px 50px;
  background-color: white;
  width: 200px;
  border: 1px solid #fdb833;
  height: 50px;
  overflow: hidden;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  border: 1px solid gray;
  background-color: #fdb833;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-form form button .lds-ring {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.contact-form form button .lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.contact-form form button .lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.contact-form form button .lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.contact-form form button .lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.contact-form form button #button-error {
  font-weight: 1000;
  font-size: 3rem;
  color: #d00000;
  margin: 0;
  padding: 0;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.contact-form form button #button-loading, .contact-form form button #button-error {
  display: none;
}

.contact-form form button:hover {
  background-color: #fdb833;
  letter-spacing: 5px;
}

.contact-form form textarea::-webkit-input-placeholder {
  color: gray;
  font-family: "Cormorant", sans-serif;
}

.contact-form form textarea:-ms-input-placeholder {
  color: gray;
  font-family: "Cormorant", sans-serif;
}

.contact-form form textarea::-ms-input-placeholder {
  color: gray;
  font-family: "Cormorant", sans-serif;
}

.contact-form form textarea::placeholder {
  color: gray;
  font-family: "Cormorant", sans-serif;
}

.contact-form form textarea {
  padding: 5px;
  height: 100px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.contact-form form textarea:focus {
  outline-color: #fdb833;
}

.contact-form form textarea:focus::-webkit-input-placeholder {
  color: #fdb833;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.contact-form form textarea:focus:-ms-input-placeholder {
  color: #fdb833;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.contact-form form textarea:focus::-ms-input-placeholder {
  color: #fdb833;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.contact-form form textarea:focus::placeholder {
  color: #fdb833;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.contact-form form .input-div {
  position: relative;
}

.contact-form form .input-div label {
  position: absolute;
  top: 10px;
  left: 5px;
  color: gray;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: "Cormorant", sans-serif;
}

.contact-form form .input-div input {
  padding: 10px 5px;
  border: none;
  width: 100%;
  border: 1px solid #666;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.contact-form form .input-div input:focus {
  outline-color: #fdb833;
}

.contact-form form .input-div input::-webkit-input-placeholder {
  color: transparent;
}

.contact-form form .input-div input:-ms-input-placeholder {
  color: transparent;
}

.contact-form form .input-div input::-ms-input-placeholder {
  color: transparent;
}

.contact-form form .input-div input::placeholder {
  color: transparent;
}

.contact-form form .input-div input:focus + label {
  -webkit-transform: translate(-13px, -35px) scale(0.8);
          transform: translate(-13px, -35px) scale(0.8);
  color: #fdb833;
}

.contact-form form .input-div input:not(:placeholder-shown) + label {
  -webkit-transform: translate(-13px, -35px) scale(0.8);
          transform: translate(-13px, -35px) scale(0.8);
  color: gray;
}

.contact-form form .input-div, .contact-form form textarea {
  width: 100%;
  max-width: 600px;
}

.cars-div {
  border-bottom: 1px solid gray;
}

.cars-div h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 3em;
  font-weight: 500;
  font-family: 'Cormorant', sans-serif;
}

.cars-div > p {
  text-align: center;
  margin-bottom: 20px;
}

.our-cars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 20px;
}

.our-cars .car {
  border: 1px solid lightgray;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
  margin: 15px;
  overflow: hidden;
  background-color: white;
}

.our-cars .car .img-div {
  overflow: hidden;
  padding: 0;
}

.our-cars .car img {
  width: 400px;
  margin-bottom: 10px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transform-origin: 84% 50%;
          transform-origin: 84% 50%;
}

.our-cars .car img:hover {
  -webkit-transform: scale(1.25) translateX(20px);
          transform: scale(1.25) translateX(20px);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.our-cars .car h6 {
  font-size: 1.3em;
  padding: 0 10px;
  font-weight: 800;
  font-family: 'Cormorant', sans-serif;
  border-bottom: 1px solid gray;
}

.our-cars .car p {
  padding: 0 40px;
  text-align: justify;
}

footer {
  background-color: black;
  color: gray;
  padding: 40px;
}

footer a {
  color: #fdb833;
  text-decoration: none;
}

footer a:hover {
  color: #fdb833;
  text-decoration: underline;
}

footer .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .main span {
  color: #fdb833;
  font-size: 1em;
}

footer .main h5 {
  color: #fdb833;
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
}

footer .main > div {
  margin-top: 20px;
  width: 33%;
  min-width: 150px;
  margin: 0 10px;
}

footer .main .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 10px;
  padding: 0;
}

footer .main .contact-info span {
  margin-right: 10px;
  margin-top: 5px;
}

footer .main .opening-hours p {
  margin: 5px 0;
}

footer .copyright-div {
  margin-left: 10px;
  padding: 0;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .copyright-div p {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .copyright-div .line {
  width: 40px;
  height: 2px;
  background-color: whitesmoke;
  margin-right: 20px;
}

footer .copyright-div span {
  font-size: 1em;
  margin-right: 5px;
  padding: 0;
}

@media (max-width: 500px) {
  footer .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
  footer .main > div {
    width: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 950px) {
  .not-top .line {
    background-color: black !important;
  }
  header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: transparent;
  }
  header .hamburger-menu {
    display: block;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer;
  }
  header .hamburger-menu .line {
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    border-radius: 3px;
  }
  header .navigations {
    height: 0;
    width: 100%;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  header #menu:checked + .hamburger-menu .line {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  header #menu:checked + .hamburger-menu .line:first-child {
    -webkit-transform: rotate(-45deg) translateY(12px);
            transform: rotate(-45deg) translateY(12px);
  }
  header #menu:checked + .hamburger-menu .line:last-child {
    -webkit-transform: rotate(45deg) translateY(-12px);
            transform: rotate(45deg) translateY(-12px);
  }
  header #menu:checked ~ .navigations {
    height: 9em;
  }
  header .navigations {
    width: 100%;
    margin-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .navigations .navigation {
    padding: 5px;
  }
}

@media (max-width: 540px) {
  .how-it-works .point p {
    font-size: 0.8em;
    width: 60%;
  }
}

/*********************************************/
/*# sourceMappingURL=styles.css.map */